.intro
    display: flex
    position: relative
    align-items: center
    height: 100vh

.content
    display: flex
    width: 80rem
    margin: auto
    gap: 2rem
    flex-wrap: wrap

    h1
        flex: 100%
        font-size: 3rem
        color: #484848

    span
        color: #4169E1

.resume
    padding: 1rem
    background: #4169E1
    border-radius: 2rem
    cursor: pointer
    transition: all 0.3s

    h3
        color: #FFFFFF

.resume:hover
    filter: brightness(0.9)

.resume:active
    filter: brightness(0.8)

.gitBtn
    display: flex
    padding: 0rem 2rem
    border: solid .125rem #4169E1
    border-radius: 2rem
    align-items: center
    cursor: pointer
    transition: all 0.3s

    svg
        width: 2rem
        height: 2rem

        path
            color: #4169E1

.gitBtn:hover
    background: #4169E1

    svg
        path
            color: white
