.intro
    display: flex
    position: relative
    align-items: center
    height: 100vh

.content
    display: flex
    width: 70%
    margin: auto
    gap: 2rem
    flex-wrap: wrap

    h1
        flex: 100%
        font-size: 3rem
        color: #484848

    span
        color: #15484f

.resume
    display: flex
    justify-content: center
    flex-basis: 100%
    padding: 0.75rem
    background: #15484f
    border-radius: 2rem
    cursor: pointer
    transition: all 0.3s

    h3
        color: #FFFFFF

.resume:hover
    filter: brightness(0.9)

.resume:active
    filter: brightness(0.8)

.btn
    display: flex
    flex-basis: 100%
    padding: 0.75rem
    border: solid .125rem #15484f
    border-radius: 2rem
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all 0.3s

    svg
        width: 1.5rem
        height: 1.5rem

        path
            color: #15484f

.btn:hover
    background: #15484f

    svg
        path
            color: white

@media (min-width: 80rem)

    .resume
        flex-basis: 10%

    .btn
        flex-basis: 10%
