.skills
    position: relative
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 100vw
    min-height: 100vh
    overflow-x: clip

.content
    display: flex
    flex-basis: 100%
    padding: 10rem 0
    justify-content: space-around
    width: 70%
    margin: auto
    gap: 10rem
    flex-wrap: wrap

.sideWaves
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none

.sectionBreak
    display: flex
    position: relative
    justify-content: center
    margin: auto
    bottom: 1rem
    padding: 0 0 3rem
    text-align: center
    width: 100%
    font-size: 3rem

.arrow
    position: absolute
    display: flex
    justify-content: center
    width: 100%
    bottom: 0
    font-size: 3rem

@media (min-width: 80rem)

    .content
        gap: 2rem